.wrap {
 height: 350px;
 margin: 50px auto 0;
 position: relative;
 width: 500px;
}

   .wrap > input {
    display: none;
   }


	.slider {
    background-color: #333;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
   }
   .slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
   }


   .img1 { background-image: url(lion.jpeg) ;
background-repeat: no-repeat;
background-size: cover;}
   .img2 { background-image: url(тигр.jpeg); background-repeat: no-repeat; background-size: cover;;}
   .img3 { background-image: url(пантера.jpg); background-repeat: no-repeat; background-size: cover;; }

	.wrap .control {
 position: absolute;
 margin-left: -50px;
 left: 50%;
}

.wrap label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 10px;
    position: relative;
    width: 8px;
    border-radius: 20%;
   }
   .wrap label:after {
    border: 2px solid green;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    border-radius: 20%;
   }

   #point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3) {
 background: green;
}


#point1:checked ~ .slider > .img1,
#point2:checked ~ .slider > .img2,
#point3:checked ~ .slider > .img3 {
 opacity: 1;
 z-index: 1;
}

.slides{
    transform: rotate(55deg);
    -webkit-filter: hue-rotate(90deg);
    transition: 1s;
    }
    
 #point1:checked ~ .slider > .img1,
    #point2:checked ~ .slider > .img2,
    #point3:checked ~ .slider > .img3{
     opacity: 1;
     z-index: 1;
     transform: none;
     -webkit-filter: none;
    }
    