img{
    width: 50px;
    height: 60px;

}
/* .lead span { color: yellow } */
/* div span { color: yellow } */
div p.lead { color: yellow }/* 
/* div .some span { color: yellow } */ */

.img-bottom{
    
    border:2px solid black;
}
.img-top{
    border: 5px solid black;
}
.img-center{
    border: 10px solid black;
}

body{
    text-transform: capitalize;
    background: url(/LB_1/img/Googel.jpeg);
}

[class~="lorem"] { background: #666; }