img{
    width: 50px;
    height: 60px;

}
.img-bottom{
    
    border:2px solid black;
}
.img-top{
    border: 5px solid black;
}
.img-center{
    border: 10px solid black;
}

body{
    background: url(/LB_1/img/Googel.jpeg);
}